Wanpipe Configuration
======================

For Latest Info please visit
http://wiki.sangoma.com



Before starting WANPIPE, a configuration file (wanpipeN.conf, where
N=1,2,3..etc.)must be created in /etc/wanpipe directory.  
This file contains the line, hardware and interface definitions 
for the WAN connection.

RELEASE 2.3.2 and on:
	The new WANCFG utility has been release. It should
	be used to configure standard WAN protocols like:
		FR, PPP, CHDLC, 
		MULTILINK PPP (TTY), TDM_VOICE
		HDLC API
		ADSL
		

	For both AFT and S514 series cards.

	The old WANCFG utility has been renamed to wancfg_legacy.
	This utility should be used for all API protocols like:
		X25, SDLC, BITSTREAMING ...


The program /usr/sbin/wancfg should be used to create the
configuration file(s).  It is a GUI, ncurses based,
configurator that contains all wanpipe options
as well as extended help information on each
option.

In case wancfg is not used, i.e. embedded systems, use
the sample configuration files located in 
/etc/wanpipe/samples directory.


Things you should know before starting /usr/sbin/wancfg:

        1. Protocol:
                Frame Relay, MulitPort Frame Relay, 
		CHDLC, PPP, MultiPort PPP, ADSL, X25 ...

        2. Protocol/IP Info:
                Frame Relay:  Type of Status Signaling (LMI,
                              ANSI, or Q.933
                              Number of DLCI to configure
			      DLCI numbers
                              IP info for each DLCI

                CHDLC:        IP info

                PPP:          IP info

                X25:          Maximum packet size
                              Number of SVCs/PVCs
                              IP info

		ADSL:	      ATM encapsulation:
				Bridged Ethernet LLC over ATM: (PPPoE)
				Bridged Ethernet VC over ATM
				Classical IP LLC over ATM
			      	Router IP VC over ATM
				PPP LLC over ATM
				PPP VC over ATM: (PPPoA)
			
			      ATM configuration: 
			      	VPI and VCI
				
				If not available use the auto 
				config option to autodetect 
				these values.
			
			      IP Info:  (Not needed for PPPoE)

			NOTE:
			      For PPPoE and PPPoA setup please refer to
			      APPENDIX A below.

		ATM:	      ATM encapsulation:
				Bridged Ethernet LLC over ATM: (PPPoE)
				Bridged Ethernet VC over ATM
				Classical IP LLC over ATM
			      	Router IP VC over ATM
	
			      ATM configuration: 
			      	VPI and VCI

			      IP Info:  (Not needed for PPPoE)	

        3. CSU/DSU Info:

                T1/E1:  Encoding
                        Framing
                        Active Channels/Baud Rate

                56K:    Internal or External Clocking
			Internal clocking should only be used
			in back to back situations.
			Default: External


For the rest of this document, we will assume we are working with the
following ISP/Telco supplied data:


        Protocol:       Frame Relay
        Prot Info:
                        Num of DLCI's = 2
                        DLCI=16 and 17

        IP Info:        DLCI 16
                        Local   =201.1.1.1
                        PtoP    =201.1.1.2
                        Netmask =255.255.255.0
                        Gateway =201.1.1.2 (i.e. this is the system
                                                 default gateway)

                        DLCI 17
                        Local   =202.1.1.1
                        PtoP    =202.1.1.2
                        Netmask =255.255.255.0
                        Gateway =N/A



WANCFG
======

IMPORTANT:
	Use the "ADVANCED" sections only for non
	standard configurations, otherwise leave
	them default.


1. Start /usr/sbin/wancfg

2. Select Create opton

3. Select Card from Hardware Probe

4. Specify Hardware information:
	T1/E1/V35 
	
5. Specify Protocol
	FR,PPP,CHDLC,TTY(Multilink PPP) ...

	Frame Relay is by default configured
	for Auto DLCI.  Use the advanced sections
	to change this.

6. Network Interface Setup
	
	Specify Operation mode:

	WANPIPE:  IP mode proceed to specify IP addresss
	API:      Custom API mode, no IP addresses

	Specify IP addresses:

7. Save and exit


For old WANCFG_LEGACY example refer to APPENDIX B below!





Troubleshooting the driver load process
=======================================

   After a startup failure run wanrouter debug
   option for more information and possible solutions:

   	wanrouter debug


   Syntax Errors:
   --------------

   All wanpipe configuration file syntax errors are
   reported in 	/var/log/wanrouter 

	wanrouter conflogs


   Driver Messages:
   ----------------

   All wanpipe driver events will be recorded in
   /var/log/messages.

   Thus if errors occur, first check /var/log/messages
   to find out what exactly went wrong
   with the drivers startup.

	wanrouter messages

	or

	tail -f /var/log/messages

   Once the device is started you should see a
   "link connecting" message.  This message
   indicates that the card was been configured
   successfully and that the link is trying to
   connect.


   Wanpipe Debugger:
   -----------------

   /usr/sbin/wanpipemon should be used to further debug
   hardware, line and protocol problems.

   	/usr/sbin/wanpipemon -g



   Sangoma Tech Support:
   ---------------------
   
   When reporting problems to Sangoma Tech Support please
   dump the current system debug information into
   a temporary file and send it via email.

   	1. wanrouter debug if_name > sangoma_debug_file.txt
	   (where if_name is wanpipe interface name: eg wp1fr16)

	2. Wait for 2-5 minutes

	3. Stop the debug by pressing ENTER

	4. Email sangoma_debug_file.txt to Sangoma Tech Support


   Refer to README-4.debugging








APPENDIX A:  ADSL PPPoE and PPPoA Configuration
==========

Refer to README.adsl









APPENDIX B: WANCFG_LEGACY  (Old Configurator)
==========

1. Start /usr/sbin/wancfg

2. Select 'Create' option

3. Select a wanpipe device.
   If this is a first device select wanpipe1
   and hit <SELECT> button.

4. Choose a protocol
   In this case choose Frame Relay and hit <BACK>
   button.

5. Select Hardware Setup

   Probing Hardware:
        The top option is "Probe Hardware"
        Select this option and press <ENTER>

        Select a device.  When selecting devices
        note the PORT option.  Usually PORT=PRI
        would be used.

        IMPORTANT:
        ~~~~~~~~~~
        After the hardware probe section you will
        notice that the next four fields have
        been filled out.  Thus, adapter type and
        PCI info should be skipped.


   All other options should normally be left as
   DEFAULT unless you have special information.

   Exit Hardware Setup


6. Network Interface Setup


The network interface set-up depends on the type of connection. 

Instance Frame Relay supports many interfaces, each boud to 
a DLCI.  Thus, there are questions related to the number of 
DLCIs and configuration information for each DLCI. 

In the case of Point-to-Point protocols like PPP and CHDLC, there
is only one interface per physical port.

This example is Frame Relay with two DLCIs. The first input is:
"Please specify the number of DLCIs supported on this Frame Relay
connection"

        Enter in number 2


For each network interface do the following:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        DLCI Number:
          Enter in the DLCI number. Note the default number
          is always 16.

        Interface Name:
          The Interface name will also have default value.
          You can leave it as is or change it. For instance,
          you could change it to ?chicago? or ?toronto?.

          IMPORTANT:
          ~~~~~~~~~
          If you are using iptables you might want to change
          the default interface name to something like "wan0".
          Iptables and Ipchains don't like "_" in interface
          name.

          e.g.: 'iptables -o wp1_fr16 ...'  will give you an error

        Operation Mode:
          WANPIPE 	is for IP Routing
	  BRIDGE  	is used to attach the network interface to
	          	the kernel bridge
	  BRIDGE_NODE 	is used as a remote end of the line that is
	                connected to a bridge.
          API 		is used for custom API applications.
	  		Custom socket access to driver.

        DLCI Protocol Setup:
          In this section leave everything as default.
          Unless the ISP has specified specific protocol
          options such as CIR.

        IP Setup:
          Put in your IP info as supplied by ISP
          Enable Default gateway for the first
          interface.

	  Note: PointoPoint IP refers to the IP address of
	        the remote router that is connected at
		the other end of the sync line.


7. Once all network interfaces are setup
   keep hitting the <BACK> button until
   Main Menu is reached.

   Then select <EXIT> and save the config
   file.

   The new config file will be located in
   /etc/wanpipe directory.


8. Start the device:
        wanrouter start wanpipe1

   Note: The card doesn't have to be connected to start the wanrouter.


