#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Diagnostic utility for Sangoma T1/E1/Analog/BRI cards"
#define VER_INTERNALNAME_STR        "wanpipemon.exe"
#define VER_ORIGINALFILENAME_STR    "wanpipemon.exe"

#include "wanpipe_version.h"
#include <common.ver>
